
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 3.0 License
*/

@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.container {
  display: flex;
}

.float-left {
	flex: 1;
}

body {
	margin: 0 auto;
	padding: 0 auto;
	background: url(images/img01.jpg) repeat;
	font-family: 'Ubuntu', serif;
	font-size: 12pt;
	color: #3E3B36;
}

h1, h2, h3 {
	margin: 0;
	font-weight: normal;
	color: #000033;
}

h1 {
	font-size: 180%;
	padding: 7pt 0 5pt 0;
}

h2 {
	font-size: 150%;
	padding: 5pt 0 3pt 0;
}

h3 {
	font-size: 120%;
	padding: 3pt 0 2pt 0;
}

p, ul, ol, dl {
	margin-top: 0;
	line-height: 150%;
}

a {
	background-color: transparent;
}

a:link {
	color: #0645AD;
	text-decoration: none
}

a:visited {
	color: #0B0080;
	text-decoration: none
}

a:hover {
	color: #0645AD;
	text-decoration: underline
}

a:active {
	color: #551A8B;
	text-decoration: underline}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

html{font-size:100%;}
@media(min-width:60em){html{font-size: 100%}}

/* Header */

#header-wrapper {
	height: 100px;
	background: #3C3230;
	border-bottom: 10px solid #4F4440;
}

#header {
	width: 950px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
}

/* Logo */

#logo {
	width: 180px;
	height: 180px;
	margin: 20px 0 0 0;
	padding: 0 0 0 0;
	color: #FFFFFF;
	text-align: center;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
	letter-spacing: +1px;
	text-align: center;
}

#logo h1 {
	margin: 0;
	padding: 20px 0px 0px 0px;
	font-size: 100%;
	color: #000000;
}

#logo h1 a {
	color: #FFFFFF;
}

#logo p {
	margin: 0px;
	font-size: 20px;
	color: #E0B1B9;
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #E0B1B9;
}

/* Search */

#search {
	width: 180px;
	height: 50px;
	padding: 20px 0px 0px 0px;
	background: url(images/img05.jpg) no-repeat left 15px;
}

#search form {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 190px;
	padding: 0px 5px 2px 10px;
	border: none;
	background: none;
	text-transform: lowercase;
	color: #34312C;
}

#search-submit {
	width: 70px;
	height: 22px;
	border: none;
	border: none;
	background: none;
	text-indent: -99999px;
	color: #34312C;
}

/* Menu */

#menu {
	width: 180px;
	margin: 20px auto auto auto;
	padding: 0;
}

#menu ul {
	margin: 0;
	padding: 50px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	border-bottom: 1px dashed #000000;
}

#menu a {
	display: block;
	height: 27px;
	margin: 4px 0px;
	padding: 8px 0px 0px 0px;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;
	font-size: 120%;
	font-weight: normal;
	color: #000000;
}

#menu a:hover, #menu .current_page_item a {
/*	background: #E2E2E2;*/
	color: #0000B3;
	text-decoration: none;
}

#menu .current_page_item a {
}

/* Page */

#page {
	width: 1500px;
	margin: 0 auto;
}

#page-bgtop {
}

#page-bgbtm {
	overflow: hidden;
	width: 1400px;
	padding: 20px 40px 10px 40px;
}
/* Content */

#content {
	float: right;
	width: 1000px;
	padding: 70px 30px 60px 60px;
	background: #FFFFFF;
	border-radius: 10px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, .2);}

.post {
	margin-bottom: 0px;
}

.post .title {
	padding: 0px 0px 10px 0px;
	letter-spacing: -.5px;
	font-size:250%
}

.post .title a {
	color: #0B0B61;
	border: none;
}

.post .meta {
	overflow: hidden;
	background: url(images/img03.png) no-repeat left top;
	margin-bottom: 30px;
	padding: 5px 10px 5px 30px;
	text-align: left;
	font-size: 110%;
	font-weight: bold;
	color: #FFFFFF;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
	color: #FFFFFF;
}

.post .entry {
	padding: 10px 0px 5px 0px;
	border-bottom: 1px dashed #0B0B61;
	text-align: justify;
}

.links {
	padding-top: 20px;
	font-size: 110%;
	font-weight: bold;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 180px;
	margin: 0px;
	padding: 0px 0px 10px 10px;
	color: #000000;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px 0px 0px;
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
	border-bottom: 1px dashed #9C5461;
	border-left: none;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 100%;
	font-style: italic;
}

#sidebar li li a {
	color: #FFFFFF;
}

#sidebar li li a:hover {
	color: #FFFFFF;
}

#sidebar h2 {
	padding-bottom: 10px;
	height: 38px;
	letter-spacing: -.5px;
	font-size: 1.8em;
	color: #FFFFFF;
}

#sidebar p {
	margin: 0px 0px 40px 0px;
	padding: 0px 20px 0px 0px;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Map */

#map {
    padding: 300px 0px 0px 0px;
}

/* Footer */

#footer {
	width: 320px;
	height: 20px;
	margin: 0;
	padding: 0px 0px 15px 910px;
}

#footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	font-size: 12px;
	text-align: center;
	color: #000000;
}

#footer a {
	color: #FFFFFF;
}

figcaption { 
  max-width: 45%;
  caption-side: bottom;
}

#slideshow {list-style:none; color:#fff}
#slideshow span {display:none}
#wrapper2 {width:506px; margin:50px auto; display:none}
#wrapper2 * {margin:0; padding:0}
#fullsize {position:relative; width:500px; height:300px; padding:2px; border:1px solid #ccc; background:#000}
#information {position:absolute; bottom:0; width:500px; height:0; background:#000; color:#fff; overflow:hidden; z-index:200; opacity:.7; filter:alpha(opacity=70)}
#information h3 {padding:4px 8px 3px; font-size:14px}
#information p {padding:0 8px 8px}
#image {width:500px}
#image img {position:absolute; z-index:25; width:auto}
.imgnav {position:absolute; width:25%; height:306px; cursor:pointer; z-index:150}
#imgprev {left:0; background:url(images/left.gif) left center no-repeat}
#imgnext {right:0; background:url(images/right.gif) right center no-repeat}
#imglink {position:absolute; height:306px; width:100%; z-index:100; opacity:.4; filter:alpha(opacity=40)}
.linkhover {background:url(images/link.gif) center center no-repeat}
#thumbnails {margin-top:15px}
#slideleft {float:left; width:20px; height:81px; background:url(images/scroll-left.gif) center center no-repeat; background-color:#222}
#slideleft:hover {background-color:#333}
#slideright {float:right; width:20px; height:81px; background:#222 url(images/scroll-right.gif) center center no-repeat}
#slideright:hover {background-color:#333}
#slidearea {float:left; position:relative; width:456px; margin-left:5px; height:81px; overflow:hidden}
#slider {position:absolute; left:0; height:81px}
#slider img {cursor:pointer; border:1px solid #666; padding:2px}
